@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18.75px;
  color: #000000;
}

input {
  outline: none;
  border: none;
  border-radius: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 205, 205);
}

.chat {
  width: 100%;
  max-width: 320px;
  max-height: 533px;
  padding: 8px;
  background-color: #fff;
  position: relative;
}

.menu {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.messages {
  margin-bottom: 8px;
  height: 437px;
  border: 1px solid black;
  width: 100%;
  position: relative;
}

.btn {
  padding: 6px 8px 7px;
  border: 1px solid black;
}

.btn:hover {
  background-color: rgb(187, 186, 186);
}

.btn:active {
  background-color: rgba(187, 186, 186, 0.749);
}

.send {
  display: flex;
}

.send__input {
  padding: 6px 8px 7px;
  margin-right: 8px;
  border: 1px solid black;
  flex-grow: 1;
}

.messages .container {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 4px 8px 8px;
  padding: 8px 8px 4px;
  word-break: break-all;
}

.message.read {
  background-color: #E5E5E5;
}

.message.sent {
  background-color: #F7F7F7;
}

.message.self {
  align-self: flex-end;
}

.message.companion {
  align-self: flex-start;
}

.message__time {
  text-align: right;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}

.settings {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #535353e7;
  z-index: -1;
  padding: 106px 24px 108px;
  opacity: 0;
}

.settings.active {
  z-index: 999;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.settings__window {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 16px 14px;
}

.settings__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.settings__close {
  color: #000000;
  font-size: 24px;
  opacity: 0.45;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.settings__close:hover {
  color: #000000;
  font-size: 24px;
  opacity: 0.8;
}

.settings__label {
  margin-bottom: 8px;
}

.settings__input-name {
  border: 1px solid black;
  padding: 6px 8px 7px;
  flex-grow: 1;
  margin-right: 8px;
}

.settings__form {
  display: flex;
  justify-content: space-between;
}